@import "../../app/globals.scss";

.header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    justify-content: space-between;

    ul {
        display: flex;
        gap: 24px;
        align-items: center;

        li {
            list-style-type: none;
        }
    }

    padding-top: 14px;
    padding-bottom: 14px;
    z-index: 9;
    align-items: center;
}

.header-link {
    text-decoration: none;
    color: rgb(216, 216, 216);
    font-size: 15px;
}

.header-wais-logo {
    background: url("/Logo/WeAreInSpace-Light.svg");
    width: 187px;
    height: 42px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.home-miniheader {
    display: none;
}

.home-miniheader-toggle {
    display: none;
}

@media screen and (max-width: $screen-md) {
    .header {
        ul {
            .header-link-pack {
                display: none;
            }
        }
    }

    .home-miniheader {
        display: flex;
        flex-direction: column;
        width: 266px;
        min-width: 266px;
        height: calc(100vh - 71px);
        overflow-y: scroll;
        top: 71px;
        left: 0;
        position: fixed;
        width: 100vw;
        padding-top: 32px;
        padding-bottom: 80px;
        background-color: rgb(0, 0, 0);
        z-index: 2;
        justify-content: space-between;

        ul {
            display: flex;
            flex-direction: column;
            gap: 18px;

            .header-link-pack {
                list-style-type: none;

                .header-link {
                    width: 100%;
                    padding: 15px 18px;
                    line-height: 1;
                    display: block;
                    border-top: rgb(41, 41, 41) 1px solid;
                    background-color: rgb(22, 22, 22);
                    border-radius: 5px;
                }
            }
        }
    }

    .home-miniheader-toggle {
        display: block;
        width: 30px;
        height: 30px;
        background-color: black;
        border-radius: 15px;
        border: 1px rgb(70, 70, 70) solid;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .home-miniheader-hamberger_menu {
        width: 60%;
        background-color: rgb(141, 141, 141);
        height: 1px;
    }
}

.header-link-pack {
    list-style-type: none;
}