@import "../../../app/globals.scss";

.sidebar {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 266px;
    min-width: 266px;
    height: calc(100vh - 83px);
    overflow-y: scroll;
    top: 71px;
    position: sticky;
    padding: 50px 0;
    margin-right: 50px;
}

.minisidebar-menu {
    display: flex;
    align-items: center;
}

.minisidebar {
    display: none;
}

.minisidebar-toggle {
    background: none;
    border: none;
    display: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background: rgb(22, 22, 22);
    border-top: 2px solid rgb(31, 31, 31);
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    top: 79px;
    position: sticky;
    z-index: 1;
}

.minisidebar-button {
    border: none;
    background: none;
    color: white;
    background-color: rgb(34, 34, 34);
}

@media screen and (max-width: $screen-md) {
    .sidebar {
        display: none;
    }

    .minisidebar {
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 266px;
        min-width: 266px;
        height: calc(100vh - 71px);
        overflow-y: scroll;
        top: 71px;
        left: 0;
        position: fixed;
        width: 100vw;
        padding: 90px 50px 50px 50px;
        background-color: black;
        z-index: 0;
    }

    .minisidebar-toggle {
        display: flex;
        cursor: pointer;
    }
}



.sidebar::-webkit-scrollbar,
.minisidebar::-webkit-scrollbar {
    width: 10px;
}

.sidebar::-webkit-scrollbar,
.minisidebar::-webkit-scrollbar-thumb {
    background-color: rgb(29, 29, 29);
}

.sidebar::-webkit-scrollbar,
.minisidebar::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}



.sidebar-link-link:hover {
    color: white;
    transition: 0.05s;
}

.sidebar-pack {
    display: grid;
    list-style-type: none;
}

.sidebar-pack-title {
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-bottom: 10px;
}

.sidebar-link {
    list-style-type: none;
}

.sidebar-link-link {
    color: rgb(190, 190, 190);
    font-size: 14px;
    text-decoration: none;
    line-height: 1.5;
    display: block;
}

.sidebar-pack-items {
    border-left: 1px solid rgb(75, 75, 75);
    display: grid;
    gap: 8px;
    word-break: break-word;

    .sidebar-link {
        margin-left: -1px;
    }

    .sidebar-link-link {
        padding-left: 15px;
    }
}