.home-main {
    display: flex;
    padding-top: 180px;
    padding-bottom: 190px;
    gap: 45px;
}

.home-main-sec1 {
    flex: 1 1;
}

.home-main-sec2 {
    flex: 1 1;
}

.home-main-sec1-header {
    color: rgb(255, 255, 255);
    font-size: 38px;
    line-height: 1.5;
}

.home-main-sec1-header-pack {
    margin-bottom: 10px;
}

.home-main-sec1-paragraph {
    color: rgb(221, 221, 221);
    font-size: 16px;
}

.home-main-sec1-button-pack {
    display: flex;
    margin-top: 25px;
    gap: 16px;
}

.home-main-sec1-button-blue {
    background-color: rgb(0, 142, 250);
    color: rgb(255, 255, 255);
}

.home-main-sec1-button-normal {
    background-color: rgb(255, 255, 255);
    color: black;
}

.home-main-sec1-button {
    padding: 3px 18px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}