@import "../../../app/globals.scss";

.home-main {
    display: flex;
    padding-top: 120px;
    padding-bottom: 150px;
    gap: 45px;
    justify-content: space-between;
    align-items: center;
}

.home-main-title {
    font-size: 113px;
    line-height: 1;
}

.home-main-title-pack {
    color: rgb(255, 255, 255);
}

.home-bg {
    position: absolute;
    z-index: -1;
}

.home-2 {
    left: 0px;
    top: 0px;
    filter: blur(200px);
}

.home-3 {
    left: 88px;
    top: 0px;
    filter: blur(200px);
}

.home-1 {
    bottom: -5px;
    right: 0;
    filter: blur(200px);
}