@import "../../../app/globals.scss";

.sign_out-form-pack {
    display: flex;
    gap: 22px;
    flex-direction: column;
    background-color: rgb(22, 22, 22);
    padding: 22px;
    border-radius: 10px;
    border-top: 2px solid rgb(31, 31, 31);
}

.sign_out {
    display: flex;
    gap: 22px;
    flex-direction: column;
}

@media screen and (max-width: $screen-sm) {
    .sign_out-form-pack {
        gap: 20px;
    }
}

.sign_out-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sign_out-pack {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
}

.sign_out-title {
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 1;
    margin: 2px 0 15px 0;
    font-size: 30px;
    text-wrap: break-word;
}

.sign_out-question {
    text-wrap: wrap;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.sign_out-submit-button {
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    width: 284px;
    border-radius: 8px;
    background-color: rgb(34, 34, 34);
    font-size: 14px;
    border-top: 2px solid rgb(40, 40, 40);
    cursor: pointer;
}

@media screen and (max-width: $screen-sm) {
    .sign_out-submit-button {
        width: 272px;
    }
}

.sign_out-wais-logo {
    background: url("/Logo/WAIS-Light.svg");
    min-width: 80px;
    min-height: 69.2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sign_out-logo {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}